@using Assignment2_PeachCafe.Models;
@model MenuCourse

@{
    ViewBag.Title = "Browse";
}

<h2>@Model.Name</h2>
<table class="table">
    <tr>
        <td></td>
        <td>
            <h4>Name</h4>
        </td>
        <td>
            <h4>Description</h4>
        </td>
        <td>
            <h4>Price</h4>
        </td>
    </tr>
    @foreach (var fooditem in Model.FoodItems)
    {
        <tr>

            <td>
                <img id="thumbnail" src=@fooditem.ImageUrl style="height: 100px; width: 100px;" />
            </td>
            <td>
               @Html.ActionLink(@fooditem.Name, "Details", new { id = fooditem.FoodItemId })
            </td>
            <td>
                @fooditem.Description
            </td>
            <td>
                @fooditem.Price
            </td>
        </tr>
    }

</table>
<p>@Html.ActionLink("Back to Menu", "Index")</p>