@using Assignment2_PeachCafe.Models
@model FoodItem 
@{
    ViewBag.Title = "Food Item";
}

<div class="container">
    <div class="col-sm-3 col-md-4">
        
            <img class="big-image" src="@Url.Content(Model.ImageUrl)" />
        
    </div>
    <div class="col-sm-7 col-md-6">
        <dl id="details" class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        </dl>
    </div>
</div>

<p>@Html.ActionLink("Back to Menu", "Index")</p>


